<section>
<div class="mx-5 lg:mx-36 mb-10 md:mb-32">

    <h2 class="text-xl md:text-3xl font-semibold mb-2 md:mb-10">
        Nuestros Productos
    </h2>

    <p class="mb-5 text-lg md:text-2xl md:mb-10">
        En Castilac producimos estas 6 variedades de quesos frescos, cada uno
        ideal para distintas recetas y ocasiones.
    </p>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-3 ">
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="/producto1.webp"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="producto2.webp"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="producto3.webp"
                    alt=""
                />
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="producto5.webp"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="producto6.webp"
                    alt=""
                />
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="producto4.webp"
                    alt=""
                />
            </div>
        </div>
    </div>
</div>
</section>

<style>

</style>