---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Products from '../components/Products.astro';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="Castilact" content="Fabrica de quesos Castillo Meta" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<body>
			<div class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_80%_at_50%_100%,#fff_80%,#f1990a_130%)]"></div>
			<Header/>
			<Products/>
			<Footer/>
			<slot />
		</body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light black;

	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
	}
</style>
